.section {
  position: relative;
  background-image: url("/images/rachel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px;
  position: absolute;
}

.image_container {
  position: absolute;
  width: 100%;
  height: 800px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hairline {
  color: var(--p1);
}

.title {
  color: var(--n8);
  margin-top: 24px;
  margin-bottom: 24px;
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--n2);
  opacity: 0.6;
}

@media (max-width: 768px) {
  .section {
    height: 100%;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
