.section {
  padding-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 700px;
  text-align: center;
}

.title {
  margin-bottom: 24px;
  margin-top: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 60px;
}

.mb {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 474px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
