.container {
  padding: 60px 40px;
  background-color: var(--n7);
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 32px;
  margin-bottom: 16px;
}

.container:hover {
  background-color: var(--p1);
}

.container:hover .title {
  color: var(--n8);
}

.container:hover .subtitle {
  color: var(--n6);
}

.container:hover .icon {
  fill: var(--n8);
}
