[class~="button"] {
  background-color: var(--p1);
  padding: 18px 60px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: var(--n8);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline: none;
  box-shadow: 0 10px 20px rgba(35, 38, 47, 0.2);
}

.button:hover {
  background-color: darken(--p1, 10);
}

.button:active {
  transform: scale(0.9);
}

.button-stroke {
  background-color: var(--n8);
  color: var(--n2);
  box-shadow: inset 0 0 0 2px var(--n6);
}

.button-stroke:hover {
  box-shadow: inset 0 0 0 2px var(--n2);
}

.button-small {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: var(--p1);
  font-weight: bold;
}

.active {
  color: var(--n2);
}

.button-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--n7);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline: none;
}

.button-svg:hover,
.button-svg:active {
  background: var(--p1);
}

.button-svg:hover svg {
  fill: var(--n8);
}

.button-svg svg {
  fill: var(--n2);
}

.svg-active {
  background: var(--p1);
}

.svg-active svg {
  fill: var(--n8);
}
