.container {
  padding: 60px 30px;
  background-color: var(--n7);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
  justify-items: center;
  border-radius: 8px;
}

.features {
  display: grid;
  grid-gap: 16px;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 8px;
  align-items: center;
}
