.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 16px;
}
