.hairline {
  color: var(--p1);
}

.content {
  display: grid;
  grid-gap: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .content {
    justify-content: center;
    text-align: center;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 474px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
