.container {
  display: grid;
  grid-gap: 8px;
}

.title {
  color: var(--n8);
}

.label__text {
  color: #fff;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: (32/24);
    letter-spacing: -0.01em;
  }
}
